<div class="jumbotron">
  <h2>Welcome to the demo app!</h2>
  <p class="lead">This is a sample todo-app using Phoenix and Ecto.</p>
</div>

<div class="row marketing">
  <div class="col-mg-12">
    <h4>Todo!</h4>
    <ul>
      <%= for entry <- @entries do %>
        <li><%= entry.title %> - <%= entry.content %> - Due on: <%= entry.due_date %></li>
      <% end %>
    </ul>
  </div> 
  <a href="/entries/new">Make new post</a>
</div>

